@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  color: blue;
  transition: all .25s ;
  border: 3px solid #ffaa02;
  padding: 10px;
  border-radius: 0px;
  font-size: 20px;
}

a:hover {
  color: #ffaa02;
  border: 3px solid blue;
}

body {
  background-color: antiquewhite;
}

.container {
  text-align: center;
  justify-content: center;
  margin-top: 20vh;
}

.container img {
  width: 200px;
}

.container h1 {
  margin-bottom: 20px;
  font-size: 50px;
}
